.imported-github-code {
  display: flow-root;
  margin-top: 16px;
}

.imported-github-code > div[class*='language-'] {
  margin-top: 0;
  margin-bottom: 4px;
}

.imported-github-code > .github-code-link {
  float: right;
  font-size: 0.875rem;
}

.imported-github-code > .github-code-link > a::after {
  content: '';
}

.vp-code-group .imported-github-code {
  display: none;
  margin-top: 0;
}

.vp-code-group .imported-github-code > div[class*='language-'] {
  display: none;
}

.vp-code-group .imported-github-code.active {
  display: flow-root;
}

.vp-code-group .imported-github-code.active > div[class*='language-'] {
  display: block;
}
